body {
  padding-top: 5rem;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

nav.navbar {
    background-color: orange !important;
}

.nav-link:hover {
	font-weight: bold !important;
}
h1 {
	padding-top: 1rem;
	padding-bottom: 1rem;
	background-color: orange;
	color: white;
	font-size: 20px;
}

h3 a {
	color: red !important;
	padding: 10px 20px,
	border-radius: 5px;
	margin: 10px 0;
	display: inline-block;
	border: 2px solid #d4c31c;
}